/* Variablen */
:root {
    --elemente: #2f2e33;
    --background-fontColor: #ffffff;
    --fontColor: #000000;
    --hover: #444;
    --font: 'Open Sans', sans-serif;
    --header-footer-heigth: 10vh;
    --fontWeight-regular: 400;
    --fontWeight-bold: 700;
}

/* Grundeinstellungen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100%;
    font-family: var(--font);
}

/* Text */
h1 {
    color: unset;
    font-family: var(--font);
    font-size: clamp(1.5rem, 2rem, 2.5rem);
    font-weight: var(--fontWeight-bold);
    text-decoration: none;
}

h2 {
    color: unset;
    font-family: var(--font);
    font-size: clamp(1rem, 1.5rem, 2rem);
    font-weight: var(--fontWeight-bold);
    text-decoration: none;
}

h3 {
    color: unset;
    font-family: var(--font);
    font-size: clamp(0.5rem, 1rem, 1.5rem);
    font-weight: var(--fontWeight-bold);
    text-decoration: none;
}

p {
    color: unset;
    font-family: var(--font);
    font-size: clamp(0.5rem, 1rem, 1.5rem);
    font-weight: var(--fontWeight-regular);
    text-decoration: none;
}

a {
    color: unset;
    font-family: var(--font);
    font-size: clamp(0.5rem, 1rem, 1.5rem);
    font-weight: var(--fontWeight-regular);
    text-decoration: none;
    cursor: pointer;
}

/* Header mit Hamburger Menu und Logo */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-footer-heigth);
    background-color: var(--elemente);
    position: relative;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 4em;
    height: 2em;
    padding-left: 1em;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20;
}

.hamburger span {
    height: 4px;
    background: var(--background-fontColor);
    border-radius: 2px;
    transition: 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: var(--elemente);
    padding: 3rem 1rem;
    transition: left 0.3s ease;
    z-index: 15;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    margin: 1.5rem 0;
}

.side-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-menu.open {
    left: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 10;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.logo {
    height: 10vh;
    width: auto;
    transition: transform 0.3s ease;
    will-change: transform;
}

.logo:hover {
    transform: scale(1.15);
}

/* Main */
main {
    background-color: var(--background-fontColor);
    display: flex;
    flex-direction: column;
}

.box-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2vh 2vw;
}

.box {
    flex: 1 1 250px;
    max-width: 300px;
    min-width: 220px;
    height: 50vh;
    background-color: var(--elemente);
    color: var(--background-fontColor);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s ease;
    will-change: transform;
}

.box:hover {
    transform: scale(1.05);
}

.text-container {
    flex: 1 1 300px;
    max-width: 300px;
    min-width: 300px;
    height: 50vh;

    background-color: none;
    color: var(--fontColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    padding: 1rem;
}

.image {
    max-width: 400px;
    min-width: 220px;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
}

.video-container {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2vh 2vw;
}

.video {
    aspect-ratio: 9/16;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.icons-container {
    height: 10vh;
    width: 20vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 2rem;
    padding: 2vh 2vw;
    background-color: none;
}

.icon {
    height: 7vh;
}

.input-container {
    width: 100%;
    max-width: 400px;
    background-color: transparent;
    align-self: center;
    margin-bottom: 10vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input {
    width: 95%;
    padding: 0.8rem;
    border: none;
    border-radius: 12px;
    background-color: var(--elemente);
    color: var(--background-fontColor);
    font-size: 1rem;
}

input::placeholder {
    color: var(--background-fontColor);
}

#button {
    padding: 0.75rem;
    border: none;
    border-radius: 12px;
    width: 20vw;
    background-color: #2b2b2b;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#button:hover {
    background-color: var(--hover);
}

/* Footer mit Links und Copyright */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: var(--header-footer-heigth);
    background-color: var(--elemente);
    color: var(--background-fontColor);
    position: relative;
}

@media (max-width: 768px) {
    .box-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .box {
        flex: 1 1 250px;
        max-width: 300px;
        min-width: 220px;
        height: 25vh;
        background-color: var(--elemente);
        color: var(--background-fontColor);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

    .image {
        max-width: 400px;
        min-width: 220px;
        height: 35vh;
        object-fit: cover;
        border-radius: 12px;
    }
}